/* start global */
* {
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
}

.screen {
  width: 1170px;
  margin: 0 auto;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
/* end global */
/* start my framework */
.clearfix {
  clear: both;
}
.special-heading {
  position: relative;
}
.special-heading::after {
  content: "";
  display: block;
  position: absolute;
  top: 40px;
  width: 40px;
  border-bottom: 2px solid #333;
}

.separator {
  border: 1px solid #eeeeee;
  display: block;
  margin: 40px 0;
}
/* end my framework */

/* start navbar */
.navbar {
  height: 0;
  font-size: 18px;
  color: #fff;
  position: relative;
  z-index: 2;
}
.navbar .logo {
  float: left;
  width: 50%;
  text-transform: uppercase;
  margin-top: 10px;
  font-weight: bold;
}

.navbar .links {
  float: left;
  width: 50%;
  margin-top: 15px;
}

.navbar .links ul li {
  display: inline-block;
  margin: 0 10px;
  margin-top: 25px;
  text-transform: capitalize;
  border-bottom: 2px solid transparent;
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
}

.navbar .links ul a {
  color: #fff;
  text-decoration: none;
}
.navbar .links li.active a,
.navbar .links li.active a:hover {
  color: rgb(77, 160, 140);
}
.navbar .links li.active,
.navbar .links li:hover {
  border-bottom: 2px solid rgb(77, 160, 140);
}
/* end navbar */

/* start header */
.header {
  background: url("../images/header1.jpg");
  background-size: cover;
  position: relative;
}
.header .overlay {
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  z-index: 1;
}

.header .bx-wrapper {
  box-shadow: none;
  border: 0;
  background: none;
  height: 100% !important;
  padding: 0;
  overflow: hidden;
  margin: 0;
}

.header .bx-wrapper .bx-viewport {
  height: 100% !important;
}

.header .bxslider {
  height: 100%;
}

.header .bxslider li {
  display: block;
  text-align: center;
}

.header .bxslider li h2 {
  font-size: 60px;
  margin-bottom: 20px;
  margin-top: 0;
}

.header .bxslider li h2 span {
  color: rgb(77, 160, 140);
}
.header .bx-controls {
}

/* end header */

/* start services*/
.services {
  padding: 50px 20px 40px;
}

.services h2 {
  margin: 0 0 50px;
  font-weight: bold;
  color: #333131;
}
.services .item {
  width: 31.33%;
  float: left;
  margin-right: 2%;
}
.services .item i {
  color: rgb(77, 160, 140);
  float: left;
  margin-right: 5%;
  width: 20%;
}

.services .item .info {
  float: left;
  width: 75%;
}
.services .item .info h3 {
  font-weight: 900;
  color: #333131;
}
.services .item .info p {
  line-height: 1.6;
  color: #999999;
}
/* end services*/
/* start our team*/
.our-team {
  padding: 10px 20px 60px;
}

.our-team h2 {
  color: #333131;
  padding-bottom: 20px;
}
.our-team .info {
  float: left;
  width: 35%;
}
.our-team .info p {
  color: #999999;
  line-height: 1.4;
}
.our-team .image-item {
  float: left;
  width: 15.25%;
  margin-top: 2%;
  margin-left: 1%;
  position: relative;
  margin-bottom: 0;
  height: 100%;
}
.our-team .image-item .overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 98%;
  line-height: 183px;
  background-color: rgba(73, 201, 176, 0.7);
  color: #fff;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  transition: all 1.5s ease-in-out;
  display: none;
}
.our-team .image-item:hover .overlay {
  display: block;
  transition: all 1s ease-in-out;
}
.our-team .image-item img {
  width: 100%;
  height: 100%;
}

/* end our team*/

/* start testomnials */

.testim {
  height: 400px;
  background-image: url("../images/keyboard.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  text-align: center;
  padding: 80px 0;
}
.testim .t-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  z-index: 1;
}

.testim h2 {
  margin-top: 80px;
  font-size: 40px;
}
.testim blockquote {
  line-height: 1.6;
  font-size: 20px;
  color: #cfcccc;
  padding: 40px 0 30px 0;
}

.testim span {
  color: rgb(73, 201, 176);
  font-size: 20px;
}

.testim .slider > div {
  display: none;
}

.testim .slider .active {
  display: block;
}
/* end testimonials */

/* Start our projects */
.our-projects {
  padding: 60px 0;
}

.our-projects h2 {
  font-weight: bold;
}
.our-projects ul {
  margin-top: 40px;
}
.our-projects ul li {
  border: 2px solid #d4d4d4;
  display: inline-block;
  padding: 10px;
  color: #a7a7a7;
  border-radius: 5px;
  margin-right: 5px;
  cursor: pointer;
}

.our-projects ul li.selected {
  border: 2px solid rgb(73, 201, 176);
  background-color: rgb(73, 201, 176);
  color: #fff;
}

.our-projects .gallery {
  padding-top: 40px;
  overflow: hidden;
}
.our-projects .gallery .row > div:nth-child(2) {
  margin-right: 1%;
  margin-left: 1%;
}
.our-projects .gallery .row > div {
  float: left;
  width: 32.66%;
  margin-bottom: 10px;
  position: relative;
}
.our-projects .gallery .row > div img {
  width: 100%;
  height: 100%;
}

.our-projects .gallery .row > div .over {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 98%;
  line-height: 183px;
  background-color: rgba(73, 201, 176, 0.8);
  color: #fff;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  transition: all 1.5s ease-in-out;
  display: none;
}

.our-projects .gallery .row > div .heart {
  color: #fff;
  position: absolute;
  right: 20px;
  bottom: 20px;
  display: none;
}
.our-projects .gallery .row > div:hover .heart,
.our-projects .gallery .row > div:hover .over {
  display: block;
}

/* end our projects */
/* end our projects */
.footer {
  background-color: #232323;
  color: #6c6c6c;

  padding: 40px 0;
}
.footer .col {
  float: left;
  width: 25%;
}

.footer .col h2 {
  color: rgb(225, 225, 225);
  font-weight: normal;
  font-size: 18px;
}
.footer .col p {
  margin-bottom: 20px;
  line-height: 1.6;
}
/* .footer .col {
  padding: 1%;
} */
.footer .col .social i {
  display: inline-block;
  border: 1px solid #6c6c6c;
  padding: 10px;
  text-align: center;
  width: 40px;
  margin: 0 4px;
  color: rgb(200, 200, 200);
}
.footer .copyright {
  margin-top: 30px;
}
.footer .tags span {
  display: inline-block;
  border: 1px solid #6c6c6c;
  padding: 10px;
  text-align: center;
  margin: 0px 5px 10px 0;
  color: rgb(200, 200, 200);
  font-weight: normal;
}
.footer .recent div {
  overflow: hidden;
  margin-bottom: 10px;
}

.footer .recent div img {
  float: left;
  margin-right: 10px;
}
.footer .recent div h4 {
  margin: 10px 0 10px 0;
  color: rgb(200, 200, 200);
  font-weight: normal;
}

.footer .col ul li {
  margin: 10px 0 15px 0;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(76, 76, 76);
  color: rgb(200, 200, 200);
}
